<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
        }
        p {
            font-size: 16px;
        }
  .review {
    
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Apply shadow to each review */
}
  
        
        
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div class="col-md-9 mx-auto rounded border p-6 m-6 bg-light">
                <center><h2>Product Details</h2></center>
                <div class="col-md-12 p-5">
                    <div class="row">
                        <div class="col-md-9 text-end">
                            <!-- Product image -->
                            <img th:src="@{'/images/' + ${product.imageFileName}}" alt="Product Image" width="350" height="350">
                        </div>
                        <div class="col-md-12">
                            <!-- Product details -->
                            <p><span class="fw-bold">Name:</span><br>
                                <span th:text="${product.name}"></span>
                            </p>
                            <p>
                                <span class="fw-bold">Description:</span><br>
                                <span th:text="${product.description}"></span>
                            </p>
                           
     		
    <span class="fw-bold">Average Rating:</span><br>
<div class="averagerating">
    <span th:if="${averageRating == 0}">Not yet rated</span>
    <span th:if="${averageRating != 0}">
        <span th:each="star : ${#numbers.sequence(1, 5)}">
            <span th:if="${averageRating >= star}" class="fas fa-star"></span>
            <span th:if="${averageRating == star - 0.5}" class="fas fa-star-half"></span>
        </span>
    </span>
    <span th:if="${averageRating != 0}">(<span th:text="${ratingCount}"></span> users)</span>
    
</div>
 
                            <p>
                                <span class="fw-bold">Brand:</span><br>
                                <span th:text="${product.brand}"></span>
                            </p>
                            <p>
                                <span class="fw-bold">Price:</span><br>
                                <span class="price-info" style="margin-bottom: -10px;">
                                    <span th:if="${product.deal != null}" style="display: inline-block;">
                                        <span class="discounted-price font-weight-bold" th:text="'$' + ${product.price - (product.price * product.deal.discount / 100)}"></span>
                                        <span class="original-price" th:text="'$' + ${product.price}" style="text-decoration: line-through; color: #888; margin-left: 5px;"></span>
                                    </span>
                                    <span class="price font-weight-bold" th:unless="${product.deal != null}" th:text="'Price: $' + ${product.price}" style="display: inline-block;"></span>
                                </span>
                            </p>
                           
                            <form action="/cart/add" method="post">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity:</label>
                                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
                                </div>
                                <button type="submit" class="btn btn-warning col-md-12">Add to Cart</button>
                            </form>
                           
							<form th:if="${#authorization.expression('isAuthenticated()')}" action="/User/rateProduct" method="post">
							    <input type="hidden" name="productId" th:value="${product.id}">
							    <button type="button" class="btn btn-warning col-md-12" data-bs-toggle="modal" data-bs-target="#ratingModal" style="margin-top :10px">
							        Rate
							    </button>
							</form>
							
							<form th:unless="${#authorization.expression('isAuthenticated()')}" action="/login" method="get">
							    <button type="submit" class="btn btn-primary">Rate</button>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Rate Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
           
            
                
                <div th:if="${success}" class="alert alert-success" role="alert">
                    <span th:text="${success}"></span>
                </div>
               
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <form action="/User/rateProduct" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}">
                    <div class="mb-3">
                        <label for="rating" class="form-label"><b>Rating:</b></label>
                        <select class="form-select" id="rating" name="rating">
                            <option value="1">1</option>
							<option value="1.5">1.5</option>
           					<option value="2">2</option>
				            <option value="2.5">2.5</option>
				            <option value="3">3</option>
				            <option value="3.5">3.5</option>
				            <option value="4">4</option>
				            <option value="4.5">4.5</option>
				            <option value="5">5</option>
                            <!-- Include other rating options here -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="review" class="form-label"><b>Write a Review :</b></label>
                        <textarea class="form-control" id="review" name="review" maxlength="500" rows="4" placeholder="Maximum 500 characters"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<div class="container">
	            <div class="col-md-9 mx-auto rounded border p-6 m-6 bg-light">
	
    <h3>Reviews</h3>
    <div class="review-container">
        <div class="card mb-3" th:if="${not #lists.isEmpty(reviews)}">
            <div class="card-body">
                <div th:each="review, iterStat : ${reviews}" class="review" th:if="${iterStat.index >= (currentPage - 1) * reviewsPerPage and iterStat.index < currentPage * reviewsPerPage}">
                    <b> <span th:text="${review.user.name}"></span> </b>
                    <div class="userrating">
                        <span th:if="${review.rating == 0}">Not yet rated</span>
                        <span th:unless="${review.rating == 0}">
                            <span th:each="star : ${#numbers.sequence(1, review.rating)}">
                                <span class="fas fa-star"></span>
                            </span>
                            <span th:if="${review.rating % 1 != 0}" class="fas fa-star-half"></span>
                        </span>
                    </div>
                     <span th:text="${review.review}"></span>
                </div>
            </div>
        </div>
        <p th:if="${#lists.isEmpty(reviews)}">No reviews yet.</p>
    </div>
    <div class="pagination">
        <a th:if="${currentPage > 1}" th:href="@{/viewproduct(id=${productId}, page=${currentPage - 1})}">&laquo; Prev</a>
        <span th:text="${currentPage}"></span>/<span th:text="${totalPages}"></span>
        <a th:if="${currentPage < totalPages}" th:href="@{/viewproduct(id=${productId}, page=${currentPage + 1})}">Next &raquo;</a>
    </div>
</div>
</div>





    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
